  <footer id="site-footer">
    <p id="copyright-info">
      <a href="https://gradecube.com/copyright-notice">Copy right &copy;</a>
      {% set starting_year, present_year = (2020) , 'now'|date('Y') %}
      {% if starting_year == present_year  %}
        {{ starting_year }}
      {% elseif starting_year != present_year  %}
        {{ starting_year }} - {{ present_year }}
      {% endif %}
      <a href="https://gradecube.com">
        {% if site_name %}
          {{ site_name }}
        {% endif %}
      </a> | All Rights Reserved
    </p>
    {% set S1, S2, S3, S4 = page.sub_footer_1, page.sub_footer_2, page.sub_footer_3, page.sub_footer_4 %}
    {% set classes= ['sub-footer-wrapper'] %}
    {% if S1 and S2 and S3 and S4 %}
      {% set classes = classes|merge(['col-3']) %}
    {% elseif (S1 and S2 and S3) or (S1 and S2 and S4) or (S1 and S3 and S4) or (S2 and S3 and S4) %}
      {% set classes = classes|merge(['col-4']) %}
    {% elseif (S1 and S2) or (S1 and S3) or (S1 and S4) or (S2 and S3) or (S2 and S4) or (S3 and S4) %}
      {% set classes = classes|merge(['col-6']) %}
    {% elseif S1 or S2 or S3 or S4 %}
     {% set classes = classes|merge(['col-12']) %}
    {% else %}
    {% endif %}

    {% if S1 %}
      <div{{ attributes.addClass(classes) }}>
        {{ S1 }}
      </div>
    {% endif %}

    {% if S2 %}
      <div{{ attributes.addClass('classes') }}>
        {{ S2 }}
      </div>
    {% endif %}

    {% if S3 %}
      <div{{ attributes.addClass('classes') }}>
        {{ S3 }}
      </div>
    {% endif %}

    {% if S4 %}
      <div{{ attributes.addClass('classes') }}>
        {{ S4 }}
      </div>
    {% endif %}

    {% if page.footer %}
      {{ page.footer }}
    {% endif %}
  </footer>

